@import "~bootstrap/scss/bootstrap.scss";

.domains {
  margin-top: 50px;
}
.domains-header {
  position: absolute;
  margin-bottom: 50px;
  text-decoration: underline;
}
.globe {
  position: absolute;
  margin-top: 50px;
}
